/* 
    Document   : slider.css
    Author     : jackh
    Description:
        Tab style and external control
*/

/* Import base css*/
@import url("slider_base.css");

/**
--------------------------------
Slider related CSS
--------------------------------
*/

/** Thumbnail style */

.xpro-thumbnails {    
    text-align: center;
    margin-top:0px;
    margin-bottom:10px;
    width:100%;
    height: 100px;
    position: relative;
    /*border-bottom: #c1230e 1px solid;*/
    /*border-bottom: rgb(21, 106, 161) 1px solid; */
    /* background-color: rgb(171, 204, 226); */
}

.xpro-thumb-content {
    height:100%;
    width: 100%;
    white-space: nowrap;
    position:absolute;
    z-index: 100;
    text-align:center;
}

.xpro-thumb-item {
    position: relative;
    width: 150px;
    height: 99px;
    padding: 15px 15px;
    
    margin: 0px;
    margin-right:3px;
    margin-bottom: -10px;
    
    /*
    background-color:#f67a69;
    color:#ffffff;*/
    
    background-color:transparent;
    color:#ffffff;
    
    cursor: pointer;
    background-image: none;
    
    /*
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;*/
    
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    transition: all 0.6s;
    -o-transition: all 0.6s;
}

.xpro-thumb-selected {
    opacity: 1;
    /*background-color:#c1230e;*/
    background-color:gold;
    color:#ffffff;
}

.xpro-thumb-item img {
     
}

.xpro-thumb-nav {
    width:20px;
    height:100%;
    background-repeat:no-repeat;
    background-position: center center;
    z-index:999999;
    position:absolute;
    cursor: pointer;
    opacity: 0;
    
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    transition: all 0.6s;
    -o-transition: all 0.6s;
}

.xpro-thumb-nav-selected {
    opacity: 1;
    background-color: rgba(117, 184, 214, 0.3);
}

.xpro-thumb-nav-prev {
    left:0px;
    top: 0px;
    /*border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;*/
}

.xpro-thumb-nav-next {
    right:0px;
    top: 0px;
    /*border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;*/
}

.xpro-vert-thumbnails .xpro-thumb-nav {
    width:100%;
    height:30px;
}

.xpro-vert-thumbnails .xpro-thumb-nav-prev {
    top:0px;
}

.xpro-vert-thumbnails .xpro-thumb-nav-next {
    bottom:0px;
}

/**
 * -------------------------------------
 * Content related css
 * -------------------------------------
 */

.xp-video-item-block {
    margin-bottom:10px;
    text-align:center;
    padding:15px 15px;
    background-color:#ffffff;
    position:relative;
    border: #d8d8d8 1px solid;
    border-radius: 0px;
}

.xp-video-item-block .xpro-video-item {
    width: 100%;
}

.xp-video-item-block img {
    border-radius: 5px;
}


.xp-ext-nav-next, .xp-ext-nav-prev {
    display: inline-block;
    padding: 6px 20px;
    background-color: rgb(21, 106, 161);
    margin-bottom: 2px;
    color: #ffffff;
    border-radius: 5px;
    border: rgb(83, 98, 110) 1px solid;
    cursor: pointer;
}

.xp-ext-nav-prev {
}
.xp-ext-nav-next {
}

.xp-img-thumb {
    display:inline-block;
    margin:5px;
    border:#e8e8e8 1px solid;
    width: 250px;
    height: 250px;
    padding: 30px 10px 50px 10px;
    background-color: #fefefe;
}

.xp-img-thumb img {

    width: 100%;
    height: 100%;
}

.xp-caption {
    text-align: right;
    margin-top: 10px;
}            
            