<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>GoEdits.com - Stun your photos to win your mottos.</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% load staticfilesfiles%}
<link rel='shortcut icon' href='{% staticfiles "img/logo/GoEdits.ico" %}' type="image/x-icon"/>
<meta  name="description" content="GoEdits.com" />
<meta name="description" content="Stun your photos to win your mottos." />
<meta name="keywords" content="Go,GoEdits,Go Edits,go,goedits,go edits,edit,photograph,realestates,houses,interior,designs,buildings,builders,agents,goedits.com,goedit.com" />
<script src="{% staticfiles "js/jquery-1.12.3.min.js" %}" charset="utf-8"></script>
<script src="{% staticfiles "js/bootstrap.min.js" %}" charset="utf-8"></script>

<!-- Bootstrap CSS -->
<link rel="stylesheet" type="text/css" href="{% staticfiles "css/bootstrap.min.css" %}">

<!-- Fontawesome CSS -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >

<!-- Google Font -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto' rel='stylesheet' type='text/css'>

<!-- Bootsnav CSS -->
<link rel="stylesheet" href="{% staticfiles "css/bootsnav.css" %}" >

<!-- Owl stylesheet -->
<link rel="stylesheet" href="{% staticfiles "css/owl.carousel.css" %}">
<link rel="stylesheet" href="{% staticfiles "css/owl.theme.css" %}">

<!-- Lightbox Theme -->
<link href="{% staticfiles "css/lightbox.css" %}" rel="stylesheet">

<!-- Main css -->
<link rel="stylesheet" href="{% staticfiles "css/style.css" %}">
<style type="text/css">
nav.navbar.bootsnav ul.nav > li > a
{
   color : black;
}

nav.navbar.bootsnav ul.nav > li > a:hover
{
   color : black;
   background-color:Gold !important;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
</style>
</head>
<body>
<div class="page-loader" style="display: none;">
  <div class="loader"> <span class="dot dot_1"></span> <span class="dot dot_2"></span> <span class="dot dot_3"></span> <span class="dot dot_4"></span> </div>
</div>
<!-- Navigation Section -->

<nav class="navbar navbar-default navbar-fixed white bootsnav">
  <div class="container"> 
    <!-- Start Header Navigation -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu"> <i class="fa fa-bars"></i> </button>
 <a class="navbar-brand" href="#brand"><img src="{% staticfiles "img/logo/mlogo.png" %}" class="logo" alt="" style="width:120px;height:65px;"> </a> </div>
    <!-- End Header Navigation --> 
    
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-menu">
      <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
        <li><a href="/">Home</a></li>
        <li><a href="/service">How It Works</a></li>
        <li><a href="/compare">Difference</a></li>
        <li><a href="/pricing">Pricing</a></li>
	    <li><a href="/contact">Contact Us</a></li>
      </ul>
    </div>
    <!-- /.navbar-collapse --> 
  </div>
</nav>
<section>
  <div class="container">
    <div class="row">
      <div class="area-heading area-heading-style-two text-center">
        <h2 class="area-title">Contact Us</h2>
        <p>Whether you have a listings for us or you would like to suggest us your always welcome.</p>
      </div>
    </div>
    <div class="row"> 
      <!-- START CONTACT DETAILS DESIGN AREA -->
      <div class="contact-details-area wow fadeInUp" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
        <div class="col-md-4 col-sm-4">
          <div class="single-contact-details"> <span class="fa fa-phone"></span>
            <h4>phone</h4>
            <p class="text-muted">+91 - </p>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="single-contact-details"> <span class="fa fa-envelope"></span>
            <h4>E-mail</h4>
            <p class="text-muted">support@goedits.com</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="single-contact-details"> <span class="fa fa-map-marker"></span>
            <h4>Address</h4>
            <p class="text-muted">India.</p>
          </div>
        </div>
      </div>
      <!-- / END CONTACT DETAILS DESIGN AREA --> 
    </div>
    <div class="row contact-form-design-area wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;"> 
      <!-- START CONTACT FORM DESIGN AREA -->
      <div class="col-md-12">
        <div class="contact-form">
          <form id="contact-form" method="post" enctype="multipart/form-data">
            <div class="row">
              <div class="form-group col-md-6 wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                <input name="name" class="form-control" id="first-name" placeholder="Name" required type="text">
              </div>
              <div class="form-group col-md-6 wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                <input name="email" class="form-control" id="email" placeholder="Email" required type="email">
              </div>
              <div class="form-group col-md-12 wow fadeInUp" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                <textarea rows="6" name="message" class="form-control" id="description" placeholder="Your Message" required></textarea>
              </div>
              <div class="col-md-12 text-center wow fadeInUp" data-wow-delay="0.8s" style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInUp;">
                <div class="actions">
                  <input value="Send message" name="submit" id="submitButton" class="btn-medium fill btn-center" title="Submit Your Message!" type="submit">
                </div>
				<br/>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!-- /END  CONTACT DETAILS DESIGN AREA --> 
    </div>
  </div>
</section>
<!-- SCRIPTS --> 
<script src="{% staticfiles "js/jquery.min.js" %}"></script> 
<script src="{% staticfiles "js/bootstrap.min.js" %}"></script> 
<script src="{% staticfiles "js/bootsnav.js" %}"></script> 
<script src="{% staticfiles "js/owl.carousel.js" %}"></script> 
<script src="{% staticfiles "js/counterup.min.js" %}"></script> 
<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script> 
<script src="{% staticfiles "js/lightbox-plus-jquery.min.js" %}"></script> 
<script src="{% staticfiles "js/jquery.mixitup.js" %}"></script> 
<script src="{% staticfiles "js/jquery.stellar.min.js" %}"></script> 
</body></html>