
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<title>Luminance</title>
{% load static%}
<link href="{% static "css/fonts.css" %}" rel='stylesheet' type="text/css"/>
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/login.css" %}">
</head>

<body class="bodyCover">
<div class="site-wrapper">
  <div class="main">
    <header>
      <div class="container-fluid">
        <div class="col-xs-12 no-padding">
          <div class="header-logo"> <a href="#"><img src="{% static "img/logo.png" %}" alt="Luminance"></a> </div>
        </div>
      </div>
    </header>
    <section>
      <div class="login-box-position">
        <div class="container-fluid">
          <form class="form-signin">
            <input type="email" id="UserName" class="form-control" placeholder="Username" autofocus  onFocus="fncClearError()">
            <input type="password" id="Password" class="form-control" placeholder="Password"  onFocus="fncClearError()">
            <a href="javascript:void(0)" class="btn btn-lg btn-primary btn-block login-button" onClick="fncValidLogin();" id="btnLogin">Login</a>
            
            
            <div class="login-error" id="divLoginerror" style="display:none;">
              <h6>Your username or password was incorrect.</h6>
              <a href="forgot-password.html" class="forgot-password"><u>Forgot Password?</u></a> </div>
            <div class="checkbox">
              <input id="Checkbox" type="checkbox" name="check" value="check1">
              <label for="Checkbox">Keep me logged in</label>
            </div>
            <a href="/hello" class="request-access"><u>Request Access</u></a>
          </form>
        </div>
      </div>
    </section>
  </div>
</div>
<script type="text/javascript" src="{% static "js/jquery-1.11.3.min.js" %}"></script> 
<script type="text/javascript" src="{% static "js/bootstrap.js" %}"></script> 
<script type="text/javascript">

function fncValidLogin()
{
 var id1 = $('#UserName').val(); //if #id1 is input element change from .text() to .val() 
    var id2 = $('#Password').val(); //if #id2 is input element change from .text() to .val()
    if (id1 != "admin" || id2 != "password") {
        $('#divLoginerror').show();
    } 
	else
	{
		$('#divLoginerror').hide();
	}
	$("#Password").keypress(function(event) {
    if (event.which == 13) {
        event.preventDefault();
        $("#btnLogin").click();
    }
});
}

function fncClearError()
{
	$('#divLoginerror').hide();
}

</script>
</body>
</html>
